@font-face {
    font-family: 'mojangles';
         url('mojanglesbold.woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'mojangles';
         url('mojanglesbolditalic.woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'mojangles';
         url('mojanglesitalic.woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'mojangles';
         url('mojanglesregular.woff');
    font-weight: normal;
    font-style: normal;
}