//META{"name":"Minecraft","description":"Something I made while bored, probably not practical.","author":"Eaveslabet","version":"0.0.0"}*//{}

@import url(https://eaveslabet.github.io/Minecraft.css);

:root {
    --font-size: 15px;        
    --word-spacing: 3px;      
    --line-spacing: 2;       
    --letter-spacing: 0.25px; 
}