@font-face {
    font-family: 'mojangles';
    src: url('https://eaveslabet.github.io/font/mojanglesregular.woff');
    font-style: normal;
    font-weight: normal;
    font-smooth: never;
    -webkit-font-smoothing : none;
}

@font-face {
    font-family: 'mojangles';
    src: url('https://eaveslabet.github.io/font/mojanglesitalic.woff');
    font-style: italic;
    font-weight: normal;
    font-smooth: never;
    -webkit-font-smoothing : none;
}

@font-face {
    font-family: 'mojangles';
    src: url('https://eaveslabet.github.io/font/mojanglesbold.woff');
    font-weight: bold;
    font-style: normal;
    font-smooth: never;
    -webkit-font-smoothing : none;
}

@font-face {
    font-family: 'mojangles';
    src: url('https://eaveslabet.github.io/font/mojanglesbolditalic.woff');
    font-weight: bold;
    font-style: italic;
    font-smooth: never;
    -webkit-font-smoothing : none;
}

*:not(code), ::-webkit-input-placeholder {
    font-family: mojangles !important;
    font-size: var(--font-size, initial);
    word-spacing: var(--word-spacing, initial);
    letter-spacing: var(--letter-spacing, initial);
}

.da-markup {
    line-height: var(--line-spacing, initial);
}
